# This is a basic workflow to help you get started with Actions

name: Publish Changes

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.5
         
      - name: Check out the website generator
        uses: actions/checkout@master
        with:
          repository: SmashMatchups/SiteGenerator

      - name: Check the matchup database repo
        uses: actions/checkout@master
        with:
          repository: SmashMatchups/SSBU-Matchups
          path: matchups

      - name: move matchup files next to generator
        run: mv matchups/matchups/* matchups

      - name: build site
        run: |
          npm install
          npm run build

      - name: gzip html files 
        run: |
          cd output
          find . -regex '\./[^.]*$' -maxdepth 1 -type f  -exec gzip {} \;
          find -type f -name '*.gz' | while read f; do mv "$f" "${f%.gz}"; done
          gzip index.html
          mv index.html.gz index.html
          gzip style.css
          mv style.css.gz style.css

      - name: Set up gcloud Cloud SDK environment
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{secrets.keyJson}}
          project_id:  smashmatchups
          export_default_credentials: true
         
      - name: upload to smashmatchups.com
        run: gsutil -o "GSUtil:max_upload_compression_buffer_size=8G" -m -h Content-Type:text/html -h Content-Encoding:gzip rsync -c -J output gs://www.smashmatchups.com
        
      - name: Change style.css content type
        run: gsutil -m setmeta -h "Content-Type:text/css" -h "Content-Encoding:gzip" gs://www.smashmatchups.com/style.css
