# This is a basic workflow to help you get started with Actions

name: Publish Changes

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v2.1.5
         
      - name: Check out the website generator
        uses: actions/checkout@master
        with:
          repository: SmashMatchups/SiteGenerator

      - name: Check the matchup database repo
        uses: actions/checkout@master
        with:
          repository: SmashMatchups/SSBU-Matchups
          path: matchups

      - name: move matchup files next to generator
        run: mv matchups/matchups/* matchups

      - name: build templates
        run: |
          npm install
          npm run build

      - name: Set up gcloud Cloud SDK environment
        uses: google-github-actions/setup-gcloud@v0.2.0
        with:
          service_account_key: ${{secrets.keyJson}}
          project_id:  smashmatchups
          export_default_credentials: true
          
      - name: upload html files
        run: |
          gsutil -m -o "GSUtil:max_upload_compression_buffer_size=8G" -h Content-Type:text/html cp -Z output/* gs://www.smashmatchups.com
        
      - name: upload assets
        run: |
          gsutil -h Content-Type:text/css cp -Z assets/style.css gs://www.smashmatchups.com/style.css
          gsutil -h Content-Type:image/png cp assets/img/** gs://www.smashmatchups.com/img/
